<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <% if user_signed_in?%>
        <nav class="navbar navbar-default navbar-expand-lg navbar-light bg-light" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <a class="nav-brand"><%=link_to "User", users_path%></a>
            </div>
          </div>
        </nav>

    <%end%>
    <%= yield %>
  </body>
</html>
